header {
    width: 60vw;
    margin: 1em auto;
}

main {
    width: 20vw;
    height: 20vw;
    margin: 5em auto;

    display: flex;
    align-content: stretch;
    justify-content: stretch;
}

button {
    width: 100%;
    border-radius: 100%;
}

.hoverButton {
    margin: 0.5em;
    width: 100%;
}